.splash {
	margin-top: 160px;
	text-align: center;
	img {
		margin: 40px auto;
		display: block;
	}
}
.splash-info-lang {
	font-size: 1.2em;
	text-align: center;
	margin-top: 60px;
}
.splash-info-path {
	font-size: 1.2em;
	text-align: center;
	margin-top: 10px;
}
.highlight {
	font-weight: 700;
	color: #3fb400;
}
